.home-page-component {
  @import "node_modules/rfs/scss";
  @import "../utils";

  @mixin show-animation($delay) {
    opacity: 0;
    animation-name: show;
    animation-duration: 1s;
    animation-delay: $delay;
    animation-fill-mode: forwards;
  }

  @keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  $animation-gap: 0.3s;

  .container-fluid {
    background-color: #f5f5f5;
  }

  .animation {
    &-1 {
      @include show-animation(calc($animation-gap * 0));
    }
    &-2 {
      @include show-animation(calc($animation-gap * 3));
    }
    &-3 {
      @include show-animation(calc($animation-gap * 5));
    }
  }

  .title {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    margin: 0;
  }

  .download {

    &-outer {
      margin: 2.5rem;
    }

    &-container {
      @include show-animation(calc($animation-gap * 1));

      padding: 5vw;
      border-radius: 10px;
      background-color: #ebebe9;
      height: fit-content;
      max-width: 700px;
    }

    &-text {
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
    }

    &-actions {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
    }

    &-button {
      flex: 1;

      @include screen-narrower-than($screen-very-narrow) {
        font-size: .8rem;
        height: 30px;
        min-width: unset;
      }

      @include screen-wider-than($screen-very-narrow) {
        &:before {
          content: 'Download for\00a0';
        }
        min-width: 220px;
      }
    }

    &-design {

      &-container {
        @include show-animation(calc($animation-gap * 2));

        position: relative;
        width: 450px;
        margin-left: 100px;

        @include screen-medium {
          display: none;
        }
        @include screen-wider-than(1500px) {
          transform: scale(1.2);
        }
      }

      &-image {
        position: absolute;
        border-radius: 5px;
        box-shadow: 0 0 5px #000;
        object-fit: contain;
        height: fit-content;
      }

      &-preview {
        z-index: 3;
        width: 300px;
        right: 30px;
      }

      &-videos {
        width: 230px;
        z-index: 2;
        right: 190px;
        top: 150px;
      }

      &-sorting {
        width: 150px;
        z-index: 1;
        right: 60px;
        top: 170px;
      }
    }
  }

  .about {

    &-container {
      margin: 2.5rem;
    }

    &-text {
      @include show-animation(calc($animation-gap * 4));

      font-size: 1rem;
    }
  }

  .presentation {

    &-tab-group {
      @include show-animation(calc($animation-gap * 6));

      margin-top: 30px;
    }

    &-container {
      display: flex;
      justify-content: center;
    }

    &-text {
      margin-left: 10vw;
      margin-top: 30px;
      font-size: 1rem;
    }

    &-videos {
      padding: 10px 70px;
      background-color: #ebebe9;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      border-radius: 10px;
      overflow: hidden;

      @include screen-narrow {
        padding: 10px;
      }
    }

    &-video {
      width: 40vw;
      min-width: 220px;
      box-shadow: 0 0 5px #000;

      @include screen-narrow {
        width: 90vw;
      }
    }
  }

  .info {
    &-container {
      @include show-animation(calc($animation-gap * 7));

      display: flex;
      background-color: #ebebe9;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }

    &-text {
      font-size: .6rem;
      margin-left: 5px;

      @include screen-narrow {
        font-size: .8rem;
        margin-left: 2px;
      }
    }

    &-icon {
      display: flex !important;
      justify-content: center;
      align-items: center;
      font-size: 1rem;

      @include screen-narrow {
        font-size: 1.2rem;
      }
    }

    &-feedback-button {
      margin-left: 15px;
      font-size: .6rem;

      @include screen-narrow {
        font-size: .8rem;
      }
    }
  }

}
