@import "node_modules/rfs/scss";

@mixin show-animation($delay) {
  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-delay: $delay;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {opacity: 0;}
  to {opacity: 1;}
}

$animation-gap: 0.3s;

.container-fluid {
  background-color: #f5f5f5;
}

.animation {
  &-1 {
    @include show-animation(calc($animation-gap * 0));
  }
  &-2 {
    @include show-animation(calc($animation-gap * 3));
  }
  &-3 {
    @include show-animation(calc($animation-gap * 5));
  }
}

.title {
  @include font-size(1.6rem);
  font-weight: bold;
}

.download {

  &-container {
    @include show-animation(calc($animation-gap * 1));
    @include padding(100px);

    border-radius: 10px;
    background-color: #ebebe9;
    height: fit-content;
    max-width: 700px;
  }

  &-text {
    @include font-size(1.5rem);

    font-weight: 400;
  }

  &-button {
    padding: 20px;
  }

  &-design {

    &-container {
      @include show-animation(calc($animation-gap * 2));

      position: relative;
      width: 450px;

      @media (max-width: 992px) {
        display: none;
      }
      @media (min-width: 1500px) {
        transform: scale(1.2);
      }
    }

    &-image {
      position: absolute;
      border-radius: 5px;
      box-shadow: 0 0 5px #000;
      object-fit: contain;
      height: fit-content;
    }

    &-preview {
      z-index: 3;
      width: 300px;
      right: 30px;
    }

    &-videos {
      width: 230px;
      z-index: 2;
      right: 190px;
      top: 150px;
    }

    &-sorting {
      width: 150px;
      z-index: 1;
      right: 60px;
      top: 170px;
    }
  }
}

.about-text {
  @include show-animation(calc($animation-gap * 4));
  @include font-size(1.5rem);
}
