<div class="download-container animation-2">

  <p class="download-text">Try Lanstreamer for free and take your offline video streaming experience to the next
    level!</p>

  <div class="row download-actions">

    <button
      class="download-button"
      mat-raised-button
      [disabled]="downloadDisabled"
      (click)="download(operatingSystem.Windows)"
    >Windows
    </button>

    <button
      class="download-button"
      mat-raised-button
      [disabled]="downloadDisabled"
      (click)="download(operatingSystem.Linux)"
    >Linux
    </button>

  </div>
</div>
