<h1 class="title animation-2 text-center">About Lanstreamer</h1>

<div class="row">
  <div class="col about-container">

    <p class="text-center about-text">Lanstreamer is the ultimate solution for organizing and viewing your offline
      video collection. With Lanstreamer, you can create thumbnails and sort your videos by name, date, or length.
      Additionally, Lanstreamer allows you to preview your videos simply by hovering your mouse over the thumbnail,
      so you can quickly and easily find the video you're looking for.</p>

  </div>
</div>
