$palette-red: (
  50 : #f3e0e0,
  100 : #e0b3b3,
  200 : #cc8080,
  300 : #b84d4d,
  400 : #a82626,
  500 : #990000,
  600 : #910000,
  700 : #860000,
  800 : #7c0000,
  900 : #6b0000,
  A100 : #ff9a9a,
  A200 : #ff6767,
  A400 : #ff3434,
  A700 : #ff1a1a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
