$palette-violet: (
  50 : #e7e4ee,
  100 : #c2bbd6,
  200 : #9a8eba,
  300 : #72609e,
  400 : #533e8a,
  500 : #351c75,
  600 : #30196d,
  700 : #281462,
  800 : #221158,
  900 : #160945,
  A100 : #917cff,
  A200 : #6649ff,
  A400 : #3b16ff,
  A700 : #2800fc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
