@import "../../utils/index";
@import "../../palettes/index";

.home-footer-component {
  .footer {
    &-container {
      $border-radius: 5px;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;

      @include set-colors($palette-grey, 100);
    }

    &-spacer {
      margin-right: auto;
    }

    &-text {
      font-size: .6rem;
      margin-left: 5px;

      @include screen-narrow {
        font-size: .8rem;
        margin-left: 2px;
      }
    }

    &-icon {
      display: flex !important;
      justify-content: center;
      align-items: center;
      font-size: 1rem;

      @include screen-narrow {
        font-size: 1.2rem;
      }
    }

    &-feedback-button {
      margin-left: 15px;
      font-size: .6rem;

      @include screen-narrow {
        font-size: .8rem;
      }
    }

    &-login-button {
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-content: center;

      .mat-icon {
        display: flex !important;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
      }
    }
  }
}
