@import "../../utils/index";

.home-gallery-component {
  .gallery {

    &-container {
      position: relative;
      width: 450px;
      margin-left: 100px;

      @include screen-medium {
        display: none;
      }
      @include screen-wider-than(1500px) {
        transform: scale(1.2);
        margin-top: -40px;
      }
    }

    &-image {
      position: absolute;
      border-radius: 5px;
      box-shadow: 0 0 5px #000;
      object-fit: contain;
      height: fit-content;
      transition: all 0.2s ease-in;

      @mixin on-hover {
        &:hover {
          z-index: 4;
          transform: scale(1.1);
        }
      }

      &.preview {
        z-index: 3;
        width: 300px;
        right: 30px;

        @include on-hover;
      }

      &.videos {
        width: 230px;
        z-index: 2;
        right: 190px;
        top: 150px;

        @include on-hover;
      }

      &.sorting {
        width: 150px;
        z-index: 1;
        right: 60px;
        top: 170px;

        @include on-hover;
      }
    }
  }
}
