@import "../../utils/index";

.home-tabs-component {
  .mdc-tab {
    font-size: .7rem !important;
  }

  .presentation {

    &-tab-group {
      margin-top: 30px;
    }

    &-container {
      display: flex;
      justify-content: center;
    }

    &-text {
      margin-left: 10vw;
      margin-top: 30px;
      font-size: 1rem;
    }

    &-videos {
      padding: 10px 70px;
      background-color: #ebebe9;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      border-radius: 10px;
      overflow: hidden;

      @include screen-narrow {
        padding: 10px;
      }
    }

    &-video {
      width: 40%;
      min-width: 220px;
      box-shadow: 0 0 5px #000;

      @include screen-narrow {
        width: 90vw;
      }
    }
  }
}
