
<h1 class="title animation-5 text-center">Quick App Walkthrough</h1>

<mat-tab-group
  (selectedTabChange)="onTabChange()"
  (mouseleave)="autoTabSwitch = true"
  (mouseenter)="autoTabSwitch = false"
  animationDuration="1000"
  class="presentation-tab-group animation-6"
>
  <mat-tab label="video preview">

    <div class="presentation-container">
      <div class="presentation-videos">
        <video class="presentation-video" [muted]="true" [loop]="true" [autoplay]="true">
          <source src="assets/videos/preview_.mp4" type="video/mp4">
        </video>
        <video class="presentation-video" [muted]="true" [loop]="true" [autoplay]="true">
          <source src="assets/videos/video-preview_.mp4" type="video/mp4">
        </video>
      </div>
    </div>

  </mat-tab>
<!--  <mat-tab label="poster creation">-->

<!--    <div class="presentation-container">-->
<!--      <div class="presentation-videos">-->
<!--        <video class="presentation-video" [muted]="true" [loop]="true" [autoplay]="true">-->
<!--          <source src="assets/videos/poster_.mp4" type="video/mp4">-->
<!--        </video>-->
<!--      </div>-->
<!--    </div>-->

<!--  </mat-tab>-->
  <mat-tab label="sorting">

    <div class="presentation-container">
      <div class="presentation-videos">
        <video class="presentation-video" [muted]="true" [loop]="true" [autoplay]="true">
          <source src="assets/videos/sorting_.mp4" type="video/mp4">
        </video>
      </div>
    </div>

  </mat-tab>
<!--  <mat-tab label="viewing analytics">-->

<!--    <div class="presentation-container">-->
<!--      <div class="presentation-videos">-->
<!--        <video class="presentation-video" [muted]="true" [loop]="true" [autoplay]="true">-->
<!--          <source src="assets/videos/stats_.mp4" type="video/mp4">-->
<!--        </video>-->
<!--      </div>-->
<!--    </div>-->

<!--  </mat-tab>-->
  <mat-tab label="file rename">

    <div class="presentation-container">
      <div class="presentation-videos">
        <video class="presentation-video" [muted]="true" [loop]="true" [autoplay]="true">
          <source src="assets/videos/rename_.mp4" type="video/mp4">
        </video>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="content selection">

    <div class="presentation-container">
      <div class="presentation-videos">
        <video class="presentation-video" [muted]="true" [loop]="true" [autoplay]="true">
          <source src="assets/videos/choosing_many_vids_.mp4" type="video/mp4">
        </video>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>
