/* You can add global styles to this file, and also import other style files */

@import "assets/styles/utils/index";
@import "assets/styles/palettes/index";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-weight: 40 !important;
  font-family: Roboto, sans-serif !important;

  @include screen-very-wide {
    line-height: 26px !important;
  }
  @include screen-wide {
    line-height: 22px !important;
  }
  @include screen-medium {
    line-height: 20px !important;
  }
  @include screen-narrow {
    line-height: 18px !important;
  }
  @include screen-very-narrow {
    line-height: 14px !important;
  }
}

:root {
  @include screen-very-wide {
    font-size: 24px !important;
  }
  @include screen-wide {
    font-size: 20px !important;
  }
  @include screen-medium {
    font-size: 18px !important;
  }
  @include screen-narrow {
    font-size: 16px !important;
  }
  @include screen-very-narrow {
    font-size: 12px !important;
  }
}

@import "assets/styles/modules/index";

